# Example URL and command collection file for lyrion-remote

[urls]
Radio1 = "http://opml.radiotime.com/Tune.ashx?id=s25111&formats=aac,ogg,mp3&partnerId=16&serial=a44d9baf7190744ec4fa880f24a9fdba"
Krautrock = ["http://open.qobuz.com/playlist/1208967", "http://open.qobuz.com/playlist/2722317"]

[[url_entries]]
name = "Blues"
value = ["playlist", "loadalbum", "Blues", "John Lee Hooker", "*"]

[[url_entries]]
name = "Jazz"
value = "http://open.qobuz.com/playlist/1020353"

[[url_entries]]
name = "Jazz"
value = ["playlist", "play", "Jazz"]
